.doc {
    font-family: "Work Sans", Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header {
    height: 150px;
    font-size: xx-large;
    background-color: #222222;
    color: #ffffff;
    margin-bottom: 0px;
}

.header h2 {
    padding-bottom: 0px;
}

.welcome {
    height: 150px;
    font-size: x-large;
    background-color: #f5f5f5;
    color: #333333;
}

.about {
    display: block;
    height: 400px;
    background-color: #e8f5f9;
    color: #333333;
}

.about-content {
    float: right;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 8%;
}

.me {
    float: left;
    width: 60%;
}

.edu {
    background-color: #e1f5fe;
    color: #333333;
    height: 400px;
}

.edu-content {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.j {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.j-content {
    width: 40%;
    height: 50%;
}

.footer {
    background-color: #e2e2e2;
    color: #242424;
    height: 200px;
}

.caption p {
    color: rgb(141, 40, 40);
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form label {
    width: calc(50% - 50%);
    margin-right: 10px;
}

form button {
    width: 80px;
}

@media screen and (max-width: 520px) {
    .header {
        height: 120px;
        font-size: x-large;
    }

    .welcome {
        height: 110px;
        font-size: larger;
    }
    .about {
        height: auto; /* Remove fixed height */
    }

    .me {
        width: 100%; /* Set image width to 100% on smaller screens */
        float: none; /* Remove float */
        clear: both; /* Clear floats */
    }

    .about-content {
        float: none; /* Remove float */
        width: 90%; /* Set content width to 100% on smaller screens */
        padding-right: 5px;
        padding-left: 5px;
    }

    .edu {
        height: auto;
    }

    .edu-content {
        width: 90%;
        padding-right: 6px;
        padding-left: 6px;
    }

    .j {
        height: auto;
    }

    .j-content {
        width: 90%;
        padding-right: 8px;
        padding-left: 8px;
    }

    .footer {
        height: auto;
    }

    form {
        display: block;
    }
}
